

.contador-items{
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    align-items: center;
}

.item{
    width: 20em;
    text-align: center;
    padding: 2em 2em;
    border: 2px solid #8BCDC5;
    border-radius: 10px;
    background:  #99e1d954;
}

h5{
    margin-bottom: 1em;
    font-size: 2em;
}

img{
    width: 100%;
    margin-bottom: 1em;
}

.contador-items button, .agregar-carrito{
    padding: 5px;
    border-radius: 10px;
    border: solid 1px #547D93;
    background-color: #99E1D9;
}

.contador-items button{
    font-size: 1em;
    width: 30px;
}

.agregar-carrito{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}