.producto-compra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.chica-mirando{
    position: absolute;
    bottom: 0;
}
.texto-perdido{
    font-size: 3rem;
    margin: 1rem auto;
    width: 34rem;
    text-align: center;
}

.contenedor-usuario-perdido a{
    font-size: 2rem;
    margin: 2rem auto;
    border: 2px solid rgb(13, 110, 167);
    background-color: rgba(97, 211, 240, 0.664);
    border-radius: 1rem;
    width: 12rem;
    text-align: center;
    padding: 0.5rem;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.822) 0 0 1rem 1px;
}

form{
    margin: 2rem auto;
    position: relative;
    width: 80%;
    height: 29rem;
    padding: 1rem;
    border-radius: 10px;
    border: solid 1px #547D93;
    background-color: #99e1d975;
}

form label, form div p, form div b, form input, form label b{
    font-size: 1.8rem;
}

form input{
    display: block;
    width: 100%;
}

form button{
    display: block;
    width: auto;
    position: absolute;
    right: 1rem;
    padding: 0.5rem;
    font-size: 1.6rem;
}

.titulo-formulario{
    font-size: 2.5rem;
    margin: 2rem auto;
    display: block;
    width: 80%;
}

@media (min-width: 400px) {
    form{
        width: 300px;
    }
}