@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.barra-nav{
    position: fixed;
    background-color: #ffffff48;
    transition: background 2s;
    padding: 0.5rem;
    width: 100%;
    font-family: 'Bangers', monospace;
}

.barra-nav:hover{
    background-color: #f0f7f49f ;
}

.nombre-tienda a{
    display: inline-block;
    font-size: 2.5rem;
    color: #18314F;
    border: solid 2px;
    border-radius: 50%;
    padding: 15px;
}

.lista-plegable{
    list-style-type: none;
}

.lista-plegable li{
    color: rgba(32, 64, 112, 0.767);
    font-size: 2rem;
    padding:  1.5rem 0.5rem;
}

.lista-plegable li:hover{
    color: #18314F;
    text-decoration: underline aqua 2px;
}

/* Menu mobile */

.lista-plegable{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    order: 1;
    margin: 1rem;
}

.nombre-tienda{
    order: 2;
}

.link-carro{
    order: 3;
    display: inline-block;
}

.contenido-lista{
    width: 100%;
    text-align: center;
    order: 4;
    display: none;
}

.contenido-lista.active{
    display: block;
}

.toggle{
    cursor: pointer;
}

.barras{
    background: rgb(0, 0, 0);
    display: block;
    height: 3px;
    position: relative;
    width: 18px;
}

.barras::before, .barras::after{
    background: rgb(0, 0, 0);
    content: "";
    display: inline-block;
    height: 3px;
    position: absolute;
    width: 18px;
}
.barras::before{
    top: 5px;
}

.barras::after{
    top: -5px;
    height: 3px;
}

@media all and (min-width: 850px) {
    .lista-plegable{
        justify-content: center;
    }
    .nombre-tienda{
        flex: 1;
        order: 1;
    }
    .contenido-lista{
        display: block;
        width: auto;
        order: 2;
    }
    .link-carro{
        order: 3;
    }
    .toggle{
        display: none;
    }
    .lista-plegable li {
        padding: 1.5rem 1rem;
    }
}