@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.barra-nav{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 2em;
    width: 100%;
    top: 0;
    background-color: #8BBEB2;
    font-family: 'Bangers', cursive;
    color: rgba(12, 12, 12, 0.514);
    height: 80px;
}

.nombre-tienda{
    font-size: 1.2em;
    color: black;
    border: solid 2px;
    border-radius: 50%;
    padding: 15px;
}

.lista-plegable{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.contenido-lista{
    margin-left: 1em;
}
.contenido-lista:hover{
    color: #18314F;
    text-decoration: underline aqua 2px;
}

.activa{
    color: #18314F;
}