@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background: rgb(56,78,119);
  background: linear-gradient(180deg, rgba(56,78,119,1) 0%, rgba(139,190,178,1) 61%, rgba(255,255,255,1) 100%);
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

header{
  height: 10rem;
}

main .bienvenida h2{
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

main .bienvenida h5{
  font-size: 1.5rem;
  margin-top: 0;
  text-align: center;
  line-height: 2rem;
}
